<h1>Results</h1>

    <h2>results</h2>
    <% @pets.each do |pet| %>
        <p><%=pet.name%></p>
        <%= form_with url: "/pet_applications/add_pet", method: :post, local: true do%>
            <%= hidden_field_tag :application_id, @application.id %>
            <%= hidden_field_tag :pet_id, pet.id %>
            <%= submit_tag "Add Pet" %>
        <% end %>
    <% end %>